.try
   .wrapper
      .try__content
         h2.section-title.try__title Рекомендуем попробовать
         .try__list
            .try__item
               img(src="assets/img/product-1.png", alt="")
               span.try__text Банановый десерт с вишневым вареньем
            .try__item
               img(src="assets/img/product-1.png", alt="")
               span.try__text Картофель по деревенски
            .try__item
               img(src="assets/img/product-1.png", alt="")
               span.try__text Салат оливье постный с майонезом