extends ../layout/main

block variables
   - var title = 'Теремок'
   - var pageClass = 'map-page'
   - 
      let socialList = [
         {type: '#instagram', link: 'http://instagram.com'},
         {type: '#vk', link: 'http://vk.com'},
         {type: '#fb', link: 'http://facebook.com'},
         {type: '#tw', link: 'http://tw.com'},
      ]

block content
   include ..//includes/modules/header
   .root
   include ..//includes/modules/try
   include ..//includes/modules/footer

   include ..//includes/popups/menu-popup

